HELP.md
.mvn/wrapper/maven-wrapper.jar

.env
.env.*
!.env.example

.git
.gitignore

### IDE

.idea
**/.idea
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Frontend / node

frontend
**/node_modules

### Sources inutiles dans l'image Docker runtime

**/src
**/build

### Target : garder seulement les JAR finaux

**/target/*
!auth-service/target/
!auth-service/target/*.jar
!gateway-service/target/
!gateway-service/target/*.jar
!demand-service/target/
!demand-service/target/*.jar
!document-service/target/
!document-service/target/*.jar
!notification-service/target/
!notification-service/target/*.jar

!discovery-service/target
!discovery-service/target/*.jar